---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Jordan Rife (<a href='mailto:jordan@jrife.io' target='_blank'>email</a>, <a href='https://github.com/jrife' target='_blank'>GitHub</a>)
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
